@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #111111;

  --muted: #71717a;

  --border: #e4e4e7;

  --card: #ffffff;

  --radius: 24px;

  --font-heading: var(--font-space);

  --font-body: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 999px;
}

::selection {
  background: black;
  color: white;
}